<div class="container">
  <div class="row">
    <div class="col-xs-12 new_register">
    	<div class="instruction-info">
				<h4><strong class="instruction-title">IMPORTANTE: </strong>Bienvenido al nuevo sistema de inscripciones de la Liga Antioqueña de Baloncesto, para continuar con el proceso debe completar la informacion de su CLUB o equipo, asi mismo los datos de su presidente y manager(representante deportivo). En caso de que su club no este certificado la información del presidente y manager corresponde a los datos de la persona encargada o titular del equipo y debe entregarla en cada uno de los formularios.</h4>
			</div>
			<%= render 'form' %>
		</div>
	</div>
</div>