<div class="container">
  <div class="row">
    <div class="col-xs-12 new_register">
			<h4>Bienvenido al nuevo sistema de inscripciones de la Liga Antioqueña de Baloncesto, para continuar en el proceso debe completar la informacion de su CLUB manager y representante en el siguiente formulario.</h4>
			<%= render 'form' %>
		</div>
	</div>
</div>