<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="content" id="initial_login">
					<%= render "devise/sessions/new" %>
				</div>	
			</div>
		</div>
	</div>	
</header>

<section id="info">
	
</section>

<section id="contact">
	
</section>