<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="content" id="initial_login">
					<% if user_signed_in? %>
						<%= link_to "INSCRIPCIONES", root_path %>						
					<% else %>
						<%= render "devise/sessions/new" %>
					<% end %>					
				</div>	
			</div>
		</div>
	</div>	
</header>

<section id="info">
	
</section>

<section id="contact">
	
</section>