<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">				
		        <% if user_signed_in? && current_user.user? && current_user.club %>
		        	<div class="content" id="initial_login">		        	
			        	<h3>Para realizar una nueva inscripción o ver tus inscripciones actuales, click aqui: </h3>
			        	<%= link_to 'INSCRIPCIONES', inscription_index_path, class: "btn btn-lg btn-success" %>
			        </div>
			       <% elsif user_signed_in? && current_user.user? && !current_user.club %>
			       	<div class="content" id="initial_login">		        	
			        	<h3>Porfavor crea tu club en el siguiente enlace: </h3>
			        	<%= link_to 'Crea Tu Club', new_club_path, class: "btn btn-lg btn-success" %>
			        </div>
		        <% elsif user_signed_in? && current_user.admin? %>
		        	<div class="content" id="initial_login">		        	
			        	<h3>Bienvenido Administrador, para buscar un registro en la base de datos, click aqui: </h3>
			        	<%= link_to 'Buscar Registro', search_register_path, class: "btn btn-lg btn-success" %>
			        </div>	
			       <% else %>
			       		<div class="content" id="initial_login">
			       			<%= render "devise/sessions/new" %>
			       		</div>
		        <% end %>					
			</div>
		</div>
	</div>	
</header>

<div class="container" id="info">
	<h1 class="text-center">COMO FUNCIONA?</h1>
	<div class="row">
		<div class="col-xs-12">
			<div id="carousel_instructions" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel_instructions" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel_instructions" data-slide-to="1"></li>
			    <li data-target="#carousel_instructions" data-slide-to="2"></li>
			    <li data-target="#carousel_instructions" data-slide-to="3"></li>
			    <li data-target="#carousel_instructions" data-slide-to="4"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			    	<img src="/assets/instru1.png">
			    	<div class="carousel-caption">
			    		<h4 class="text-left">1. CREA UNA CUENTA</h4>
			    		<p class="text-justify">Para empezar a gestionar las instrucciones de su club debe crear una cuenta y conservar muy bien los datos de este registro como correo y contraseña, estos datos serán los necesarios para cualquier acceso a la plataforma. Al terminar este paso los datos serán enviados vía correo electrónico a la dirección ingresada. El link para este proceso lo encontrara en la esquina superior derecha de la pantalla como: Registrarse.</p>	
			    	</div>
			    </div>	

			    <div class="item">
			    	<img src="/assets/instru2.png">
			    	<div class="carousel-caption">
			    		<h4 class="text-left">2. CREA TU CLUB</h4>
			    		<p class="text-justify">Una vez este registrado en la plataforma, será necesario que ingrese la información de su club, en este formulario deberá llenar los campos de su club, los datos del Presidente y Manager o Director Deportivo encargado del club, por lo que es recomendable que cuente con estos a la mano antes de iniciar el proceso de inscripción.</p>	
			    	</div>
			    </div>

			    <div class="item">
			    	<img src="/assets/instru3.png">
			    	<div class="carousel-caption">
			    		<h4 class="text-left">3. ACTUALIZA TUS CANCHAS DISPONIBLES</h4>
			    		<p class="text-justify">Desde esta opción brindara la información sobre las canchas que su club tiene disponibles, el tipo de cancha, la ubicación y los horarios para cada una de estas. Esta información una vez almacenada siempre estará disponible en la barra de herramientas de la plataforma en el link: Canchas.</p>	
			    	</div>
			    </div>

			    <div class="item">
			    	<img src="/assets/instru4.png">
			    	<div class="carousel-caption">
			    		<h4 class="text-left">4. REALIZA UNA INSCRIPCIÓN</h4>
			    		<p class="text-justify">Acceda a las competiciones disponibles mediante la opción inscripciones, aquí puede gestionar todos los equipos que van a competir en los diferentes torneos que tiene la Liga Antioqueña de Baloncesto, recuerde que las inscripciones tienen una fecha limite, el monto máximo de registros por inscripción corresponde a 25 participantes, de los cuales 20 son jugadores, 1 entrenador, 3 asistentes y 1 delegado. Se recomienda tener toda la información personal de los participantes a la mano, así mismo como sus fotografías en formato digital, documentos de identidad y empresas promotoras de salud, sin estos campos no será posible realizar la inscripción. En caso de que quiera solicitar la inscripción de jugadores adicionales, debe comunicarse directamente con la Liga Antioqueña de Baloncesto.</p>	
			    	</div>
			    </div>

					<div class="item">
			    	<img src="/assets/instru5.png">
			    	<div class="carousel-caption">
			    		<h4 class="text-center">CONSIDERACIONES IMPORTANTES</h4>
			    		<p class="text-justify">Sus inscripciones pueden ser editadas en cualquier momento siempre y cuando no haya pasado la fecha limite de inscripción. Una vez se cumpla la fecha limite las inscripciones serán almacenadas en los registros de la Liga Antioqueña de Baloncesto recomendamos que no exceda esta fecha, después no se realizaran inscripciones a manera extratemporánea.</p>	
			    	</div>
			    </div>
			  </div>
			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel_instructions" role="button" data-slide="prev">
			    ‹
			  </a>
			  <a class="right carousel-control" href="#carousel_instructions" role="button" data-slide="next">
			    ›
			  </a>
			</div>
		</div>
	</div>
</div>

<section id="contact">
	
</section>