<div class="container">
  <div class="row">
    <div class="col-xs-12 new_register">
			<h4>Complete el formulario para registar a <%= @club.name.upcase %> en el <%= @tournament.name.upcase %></h4>
			<%= render 'registration_form' %>
		</div>
	</div>
</div>