<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 new_register">
    	<div class="instruction-info">
		  	<h2 class="instruction-title">Porfavor lea detenidamente las siguientes instrucciones antes de proceder con la inscripción.</h2>
				<ul class="instruction-list text-justify">
					<li>En cualquier momento puede cancelar el proceso de inscripción haciendo click en el boton de color rojo <strong>"Cancelar Inscripción"</strong> al final de la pagina.</li>
					<li>Para agregar un nuevo registro al formulario debe dar click en el botón naranja <strong>"Agregar Participante"</strong>, este le permitira agregar registros como sea necesario, recuerde que el limite maximo de registros es de 25, 20 para jugadores, 1 para entrenador, 3 para asistentes y un ultimo para un delegado</li>
					<li>Los campos primer nombre, primer apellido, fotografía, documento de identidad, tipo de inscripción, fecha de nacimiento, EPS, y correo electrónico son de caracter <strong>OBLIGATORIO</strong>, si alguno de esto faltara en uno de los registros, automaticamente la plataforma mostrara una X de color rojo a su lado derecho y hasta no completarlos, no se podra finalizar el proceso.</li>
					<li>Para borrar un registro previo debe dar click en el botón <strong>"Borrar Registro"</strong> que se encuentra en la parte inferior izquierda de este.</li>
					<li>Una vez termine de llenar todos los registros para guardar la inscripción debe dar clik en el botón verde <strong>"Guardar Inscripción"</strong> en la parte inferior de la página.</li>
					<li>La inscripción puede ser editada siempre y cuando no haya pasado la fecha limite de inscripción, de lo contrario la plataforma no le permitira el ingreso.</li>
				</ul>
				<p class="instruction-welcome text-center">Para la Liga antioqueña de Baloncesto es un placer contar con su participacón complete el formulario para registar a <%= @club.name.upcase %> en el <%= @tournament.name.upcase %></p>
			</div>
			<%= render 'inscription_form' %>
		</div>
	</div>
</div>