/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*----- Navbar ----------*/
 .navbar.navbar-default {
 	margin: 0;
 	border: none;
 	border-radius: 0;
 	background-color: white;
 }

.navbar-default .navbar-brand {
	font-size: 40px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	color: orange;
 }

 .navbar-default .navbar-brand:hover {
	color: orange;
 }
 
.navbar-default .navbar-nav > li > a {
	color: black;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	font-size: 15px;
	padding-bottom: 15px;
 }
 
.navbar-default .navbar-nav > li > a:hover {
	vertical-align: center;
	background-color: orange;
 }
 
 .logo-lab {
 	height: 82px;
 	width: 39px;
 }

 /* --------------------- */

 /*----- Home View ------ */
 header {
 	text-align: center;
 	color: black;
 	background-attachment: fixed;
 	background-image: url(http://upload.wikimedia.org/wikipedia/commons/1/10/Basketball_through_hoop.jpg);
 	background-position: center center;
 	background-repeat: none;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;
 	height: 100vh;
 	width: 100%;
 }

 .note {
 	color: red;
 }

 #info {
 	margin-bottom: 30px;
 }

#consideraciones {
	border: 2px solid #FFEBCD;
 	border-radius: 10px;
 	margin-top: 30px;
}

 #contact, footer {
	background-color: #FFEBCD;
 }

 .footer-div {
 	vertical-align: middle;
 }

 #initial_login {
 	margin-top: 150px;
 	background-color: rgba(245,222,179,0.6);
 	border-radius: 12px;
 	padding: 15px;
 	color: black;
 }

.carousel-indicators .active {
	background-color: black;
}
.carousel-indicators{
	position: absolute;
	top: 15px;
	left: 190px;
	z-index: 5;
	margin: 0;
	list-style: none;
}

.carousel-indicators li {
	background-color: gray;
}

.carousel-control { 
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	height: 45px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	z-index: 6;
	background: rgba(0, 0, 0, 0.75);
	border: 3px solid #ffffff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-right: 15px;
}

.carousel-inner {
	height: 100%;
}

.item>img {
	width: 100%
}

.carousel-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: rgba(0, 0, 0, 0.75);
}

.instruction {
 	border: 2px solid #FFEBCD;
 	border-radius: 10px;
 	margin-left: 60px;
 	margin-top: 30px;
 	height: 100%;
 }

 #instructions:last-child {
 	margin-top: 30px;
 	margin-bottom: 30px;
 }

 footer {
 	padding-top: 15px;
 	padding-bottom: 15px;
 }

 .footer-col {
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

 #documents {
 	margin-top: 30px;
 }

 .home-title {
	margin-bottom: 25px;
	margin-top: 50px;
 }

/* --------------------- */
/*----- Club View ------ */
#club_buttons {
	padding-top: 60px;
}

#manager, #club, #president, #club_comments {
	border: 2px solid black;
	border-radius: 12px;
	margin-left: 60px;
	margin-bottom: 25px;
}

.club-default-image {
	margin-top: 25px;
	height: 200px;
	width: 200px;
}
#club_comments {
	padding-top: 10px;
	padding-bottom: 10px;
}

img.logo {
	vertical-align: middle;
	margin: auto;
	padding-top: 100px;
	margin-top: 200px;
	max-width: 100%;
	height: auto;
}
/* --------------------- */
/*----- New Registration View ------ */

.new_register	 {
	background-color: rgba(245,222,179,0.6);
	border-radius: 12px;
	padding: 15px;
	color: black;
}

.inline-register, input.inline-register {
	display: inline-block;
	padding-left: 15px;
	margin-bottom: 18px; 
}

/* --------------------- */

/*-------Inscription View --------*/
p.instruction-title {
	margin-top: 15px;	
}

.player {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgb(255,248,220);
	border-radius: 12px;
}
label.error { 
   float: none; 
   color: red; 
   padding-left: .5em;
   vertical-align: top; 
   display: block;
}​
/*-------------------------------*/
/*-----Table format -------------*/
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
table.table.table-hover tbody>tr>td.vert-align{
    vertical-align: middle;
}
/*------------------------------*/
/*------ADMIN VIEW-----------*/
#teams_by_tournament {
	margin-bottom: 15px;
}

.club-thumbnail {
	height: 100px;
	width: 100px;
}

#analitics {
	margin-bottom: 25px;
}
/*---------------------------*/

/*--------FORMULARIOS--------*/

div.instruction-info {
	border: 2px black solid;
	border-radius: 12px;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.instruction-title {
	color: red;
	text-align: center;
}

.instruction-list {
	color: black;
}
.instruction-welcome {
	color: black;
}

p.formulario {
	display: inline-block;
	font-style: italic;;
}

/*---------------------------*/

/*--------LICENSE CREATOR----*/
div.carnet_lab1 {
	height: 50%;
	width: 50%;
	border: 1px solid red;
	background: url(http://i62.tinypic.com/2a6mo1w.jpg);
	background-repeat: no-repeat;
	background-size: 530px 350px;
	height: 350px;
	width: 530px;
}

div.carnet_lab {
	height: 50%;
	width: 50%;
	background: url(http://i592.photobucket.com/albums/tt5/Mardini03/carnet%20liga.jpg);
	background-repeat: no-repeat;
	background-size: 530px 350px;
	position: relative;
	height: 350px;
	width: 530px;
	margin: 10px;
}

p.register_type {
	color: white;
	font-weight: bold;
	position: relative;
	top: 110px;
	left: 190px;
}

p.register_name {
	font-size: 18px;
	position: relative;
	top: 130px;
	left: 50px;
	margin: 0;
	padding: 0;
}

p.register_identification {
	font-size: 18px;
	position: relative;
	top: 130px;
	left: 50px;
	margin: 0;
	padding: 0;
}

p.register_date {
	font-size: 18px;
	position: relative;
	top: 100px;
	left: 375px;
	margin: 0;
	padding: 0;
}

img.register_image {
	position: relative;
	top: 35px;
	left: 360px;
	border: 1px solid black;
	width: 130px;
}
/*---------------------------*/

/*--------MEDIA QUERIES------*/

/*---------------------------*/

