<p>Hola <%= @resource.email %>!</p>

<p>Haz requerido un link para reestablecer tu contraseña en la plataforma de inscripciones de la Liga Antioqueña de Baloncesto. Puedes generar una nueva contraseña en el siguiente link: </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si nunca solicitaste esta petición porfavor ignora este correo.</p>
<p>La contraseña no cambiara hasta que vayas al link anterior y generes una nueva para acceder a la plataforma.</p>
