<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 new_register">
			<div class="instruction-info">
		  	<h2 class="instruction-title">Porfavor lea detenidamente las siguientes instrucciones antes de agregar una cancha.</h2>
				<ul class="instruction-list text-justify">
					<li>En cualquier momento puede cancelar el proceso haciendo click en el boton de color rojo <strong>"Cancelar"</strong> al final de la pagina.</li>
					<li>Para agregar un nuevo horario al formulario debe dar click en el botón naranja <strong>"Agregar Horario"</strong>, este le permitira agregar tantos horarios como sea necesario, no hay limite de horarios. En un horario debe indicar el día la hora de apertura y la hora de cierre para usar la cancha.</li>
					<li>Todos los campos son <strong>OBLIGATORIOS</strong>, si alguno de esto faltara, automaticamente la plataforma mostrara un mensaje de color rojo y hasta no completarlos, no se podra finalizar el registro de la cancha.</li>
					<li>Para borrar un horario debe dar click en el botón rojo <strong>"Borrar Horario"</strong> que se encuentra en la parte derecha de cada uno de estos.</li>
					<li>Una vez termine de llenar todos los registros para guardar la cancha debe dar clik en el botón verde <strong>"Guardar Información de la cancha"</strong> en la parte inferior de la página.</li>
				</ul>				
			</div>
			<h1 class="text-center">EDITAR INFORMACIÓN DE LA CANCHA</h1>
			<%= render 'field_form' %>
		</div>
	</div>
</div>