<div class="container">
	<div class="row">
		<table class="table">
			<tr>
				<th>Tipo</th>
				<th>Direccion</th>
				<th>Editar</th>			
			</tr>
			<% @fields.each do |field| %>
				<tr>
					<td><%= field.field_type %></td>
					<td><%= field.address %></td>
					<td><%= link_to "Editar Cancha", edit_field_path(field), class: "btn btn-warning" %></td>
				</tr>
			<% end%>
		</table>
	</div>
</div>